.game-title-container {
  grid-row-start: 1;
  grid-column: 3 / span 8;
}

.game-title-text-container {
  display: flex;
  grid-column: span 12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 2rem;
  height: 2.75rem;
  font-weight: bold;
  padding: 0.25rem;
  box-sizing: border-box;
}

.game-info {
  height: 1rem;
  grid-row-start: 2;
  grid-column: 3 / span 8;
}

.date-info {
  grid-column: span 2;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.question-container {
  height: 42rem;
  grid-row-start: 3;
  grid-column: 3 / span 6;
}

.question-sidebar {
  height: 42rem;
  grid-row-start: 3;
  grid-column: 9 / span 2;
}

.nav-btn-container {
  display: flex;
  flex-direction: row;
  height: 5rem;
  grid-row-start: 4;
  grid-column: 5 / span 2;
}

.answer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answer-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 2.75rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  cursor: 'pointer';
}

.input {
  flex: 1;
  padding: 0.25rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.input {
  flex: 1;
  padding: 0.25rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: hidden;

}

.delete-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: 'pointer';
}

/* Common styles for both <h2> and <input> */
.editable-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25rem;
  box-sizing: border-box;
}

.editable-title-input {
  width: 100%;
}


/* Input-specific styles (applied only when editing) */
.title-input {
  border: 1px solid #ccc;
  /* Show border when input is active */
}

/* Style the image to look like a clickable button */
.upload-image {
  cursor: pointer;
  width: 16rem;
  height: 16rem;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.upload-image:hover {
  opacity: 0.8;
}

.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0056b3;
  color: #ccc;
}

.btn:hover {
  background-color: #0056b3;
  /* Darker shade on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Slight shadow */
}

.btn:active {
  background-color: #004080;
  /* Even darker shade on click */
  transform: scale(0.98);
  /* Slightly shrink button on click */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Lessen the shadow */
}

.submit-btn {
  display: flex;
  align-items: center;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 0.5rem auto 0.5rem auto;
  width: 80%;
  height: 2.25rem;
}

.question-prop-container {
  height: 3rem;
  display: flex;
  flex-direction: row;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.centered { 
  margin: auto;
}

.index-btn {
  display: flex;
  margin: auto 0rem auto auto;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}

.duration-btn {
  display: flex;
  margin: auto 0rem auto auto;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.mirror-img {
  transform: scaleX(-1);
  margin: auto auto auto 0rem;
}

.index-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10rem;
  /* Adjust based on your container size */
  overflow: hidden;
}

.index-number {
  padding: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 1;
}

.index-number.current-index {
  font-weight: bold;
  color: #007bff;
}

/* Invisible index placeholder */
.invisible-index {
  visibility: hidden;
  /* Make the invisible placeholders take up space but not be visible */
  cursor: default;
}

.index-numbers.slide-left .index-number {
  animation: slideLeft 0.5s forwards;
}

.index-numbers.slide-right .index-number {
  animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(10%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-10%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
