/* Grid.css */
.grid-container {
  display: grid;
}

/* Base styles for the grid */
.grid-container {
  grid-template-columns: repeat(12, 1fr); /* Default to 12 columns */
  gap: 1rem; /* Gutter between items */
  padding: 1rem 2rem 1rem 2rem;
}

.content {
  padding: 1rem; /* Padding for the main content area */
}

.block {
  border: solid 1px black;
}

/* Medium-small screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr); /* 8 columns for medium-small screens */
    padding: 1rem 1rem 1rem 1rem;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for small screens */
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}

.colspan-1 {
  grid-column: span 1; 
}

.colspan-2 {
  grid-column: span 2; 
}

.colspan-3 {
  grid-column: span 3; 
}

.colspan-4 {
  grid-column: span 4; 
}

.colspan-5 {
  grid-column: span 5; 
}

.colspan-6 {
  grid-column: span 6; 
}

.colspan-7 {
  grid-column: span 7; 
}

.colspan-8 {
  grid-column: span 8; 
}

.colspan-9 {
  grid-column: span 9; 
}

.colspan-10 {
  grid-column: span 10; 
}

.colspan-11 {
  grid-column: span 11; 
}

.colspan-12 {
  grid-column: span 12; 
}

.rowspan-1 {
  grid-row: span 1; 
}

.rowspan-2 {
  grid-row: span 2; 
}

.rowspan-3 {
  grid-row: span 3; 
}

.rowspan-4 {
  grid-row: span 4; 
}

.rowspan-5 {
  grid-row: span 5; 
}

.rowspan-6 {
  grid-row: span 6; 
}

.rowspan-7 {
  grid-row: span 7; 
}

.rowspan-8 {
  grid-row: span 8; 
}

.rowspan-9 {
  grid-row: span 9; 
}

.rowspan-10 {
  grid-row: span 10; 
}

.rowspan-11 {
  grid-row: span 11; 
}

.rowspan-12 {
  grid-row: span 12; 
}